In [86]:
from pyspark.sql import SparkSession
import pyspark.sql.functions as F
from pyspark import SparkContext, SparkConf

spark = SparkSession.builder.appName("Fake-job-prediction").getOrCreate()

In [87]:
%%html
<style>
div.output_area pre {
    white-space: pre;
}
</style>

In [88]:
df = spark.read.format("csv").option("header", "true").option("escape","\"").option("quote","\"").load("fake_job_postings.csv", sep=",")

df.show(1)

+------+----------------+----------------+----------+------------+--------------------+--------------------+--------------------+--------+-------------+----------------+-------------+---------------+-------------------+------------------+--------+---------+----------+
|job_id|           title|        location|department|salary_range|     company_profile|         description|        requirements|benefits|telecommuting|has_company_logo|has_questions|employment_type|required_experience|required_education|industry| function|fraudulent|
+------+----------------+----------------+----------+------------+--------------------+--------------------+--------------------+--------+-------------+----------------+-------------+---------------+-------------------+------------------+--------+---------+----------+
|     1|Marketing Intern|US, NY, New York| Marketing|        null|We're Food52, and...|Food52, a fast-gr...|Experience with c...|    null|            0|               1|            0|          Other|         Internship|              null|    null|Marketing|         0|
+------+----------------+----------------+----------+------------+--------------------+--------------------+--------------------+--------+-------------+----------------+-------------+---------------+-------------------+------------------+--------+---------+----------+
only showing top 1 row

In [89]:
df.dtypes

[('job_id', 'string'),
 ('title', 'string'),
 ('location', 'string'),
 ('department', 'string'),
 ('salary_range', 'string'),
 ('company_profile', 'string'),
 ('description', 'string'),
 ('requirements', 'string'),
 ('benefits', 'string'),
 ('telecommuting', 'string'),
 ('has_company_logo', 'string'),
 ('has_questions', 'string'),
 ('employment_type', 'string'),
 ('required_experience', 'string'),
 ('required_education', 'string'),
 ('industry', 'string'),
 ('function', 'string'),
 ('fraudulent', 'string')]

In [90]:
for col in df.columns:
    df = df.withColumn(col, F.lower(col))
    
df.show(1)

+------+----------------+----------------+----------+------------+--------------------+--------------------+--------------------+--------+-------------+----------------+-------------+---------------+-------------------+------------------+--------+---------+----------+
|job_id|           title|        location|department|salary_range|     company_profile|         description|        requirements|benefits|telecommuting|has_company_logo|has_questions|employment_type|required_experience|required_education|industry| function|fraudulent|
+------+----------------+----------------+----------+------------+--------------------+--------------------+--------------------+--------+-------------+----------------+-------------+---------------+-------------------+------------------+--------+---------+----------+
|     1|marketing intern|us, ny, new york| marketing|        null|we're food52, and...|food52, a fast-gr...|experience with c...|    null|            0|               1|            0|          other|         internship|              null|    null|marketing|         0|
+------+----------------+----------------+----------+------------+--------------------+--------------------+--------------------+--------+-------------+----------------+-------------+---------------+-------------------+------------------+--------+---------+----------+
only showing top 1 row

### We divide the 'location' column into 'country' and 'city'

In [91]:
from pyspark.sql.types import StringType

def get_country(location):
    if location is None:
        return None
    else:
        location_list = location.strip().split(sep = ",")
        return location_list[0]

def get_city(location):
    if location is None:
        return None
    else:
        location_list = location.strip().split(sep = ",")
        if(len(location_list)>1 and not location_list[1].isspace()):
            return location_list[1]
        else: 
            return None

udf_country = F.udf(get_country, StringType())
udf_city = F.udf(get_city, StringType())

In [92]:
df = df.withColumn("country", udf_country(F.col('location')))
df = df.withColumn("city", udf_city(F.col('location')))

#Due to the poor form of the location column, country and state are the only useful columns we can get.
df = df.drop(F.col('location'))

df.show(1)

+------+----------------+----------+------------+--------------------+--------------------+--------------------+--------+-------------+----------------+-------------+---------------+-------------------+------------------+--------+---------+----------+-------+----+
|job_id|           title|department|salary_range|     company_profile|         description|        requirements|benefits|telecommuting|has_company_logo|has_questions|employment_type|required_experience|required_education|industry| function|fraudulent|country|city|
+------+----------------+----------+------------+--------------------+--------------------+--------------------+--------+-------------+----------------+-------------+---------------+-------------------+------------------+--------+---------+----------+-------+----+
|     1|marketing intern| marketing|        null|we're food52, and...|food52, a fast-gr...|experience with c...|    null|            0|               1|            0|          other|         internship|              null|    null|marketing|         0|     us|  ny|
+------+----------------+----------+------------+--------------------+--------------------+--------------------+--------+-------------+----------------+-------------+---------------+-------------------+------------------+--------+---------+----------+-------+----+
only showing top 1 row

## Since the salary_range column may vary because of different currencies, we get the currency for each country and we convert it to USD. If its not available we leave it as it is.

In [93]:
df.select("country").distinct().count()

91

In [94]:
from bs4 import BeautifulSoup
import requests

URL = "https://unece.org/fileadmin/DAM/cefact/recommendations/bkup_htm/cocucod.htm"
r = requests.get(URL)
soup = BeautifulSoup(r.content)

In [95]:
country_codes = []
currency_codes = []

info = soup.find_all("font", attrs={'color':'#000000','size':'1','face':'Verdana'})

country_codes = [info[x].text.lower() for x in range(1526) if len(info[x].text)==2]

currency_codes = [info[x].text.lower() for x in range(1526) 
                  if len(info[x].text)==3 
                  and not info[x].text.isnumeric() 
                  and info[x].text.isupper()]

#There are three countries with no official currency in this table, so we have to drop them.
remove_list = ['gs','ps','aq']

country_codes = [x for x in country_codes if x not in remove_list]

CC = list(zip(country_codes,currency_codes))

len(CC)

250

In [96]:
def get_currencycode(country):
    idx = 0
    for i in range(len(CC)):
        if CC[i][0]==country:
            return CC[idx][1]
        idx+=1
    return None       
    

udf_currency = F.udf(get_currencycode, StringType())


df = df.withColumn('salary_currency', udf_currency(F.col('country')))

In [97]:
from pyspark.sql.types import IntegerType

def get_minRange(salary):
    if salary is None:
        return None
    salary_range = salary.strip().split(sep = "-")
    try: 
        r = int(salary_range[0])
        return r 
    except ValueError: 
        return None

def get_maxRange(salary):
    if salary is None:
        return None
    salary_range = salary.strip().split(sep = "-")
    try:
        if(len(salary_range)==1):
            r = int(salary_range[0])    
        else:
            r = int(salary_range[1])
        return r
    except ValueError: 
        return None

udf_minRange = F.udf(get_minRange, IntegerType())
udf_maxRange = F.udf(get_maxRange, IntegerType())

df = df.withColumn('salary_min', udf_minRange(F.col('salary_range')))
df = df.withColumn('salary_max', udf_maxRange(F.col('salary_range')))

df = df.drop(F.col('salary_range'))

df.show(5)

+------+--------------------+----------+--------------------+--------------------+--------------------+--------------------+-------------+----------------+-------------+---------------+-------------------+------------------+--------------------+--------------------+----------+-------+----+---------------+----------+----------+
|job_id|               title|department|     company_profile|         description|        requirements|            benefits|telecommuting|has_company_logo|has_questions|employment_type|required_experience|required_education|            industry|            function|fraudulent|country|city|salary_currency|salary_min|salary_max|
+------+--------------------+----------+--------------------+--------------------+--------------------+--------------------+-------------+----------------+-------------+---------------+-------------------+------------------+--------------------+--------------------+----------+-------+----+---------------+----------+----------+
|     1|    marketing intern| marketing|we're food52, and...|food52, a fast-gr...|experience with c...|                null|            0|               1|            0|          other|         internship|              null|                null|           marketing|         0|     us|  ny|            usd|      null|      null|
|     2|customer service ...|   success|90 seconds, the w...|organised - focus...|what we expect fr...|what you will get...|            0|               1|            0|      full-time|     not applicable|              null|marketing and adv...|    customer service|         0|     nz|null|            nzd|      null|      null|
|     3|commissioning mac...|      null|valor services pr...|our client, locat...|implement pre-com...|                null|            0|               1|            0|           null|               null|              null|                null|                null|         0|     us|  ia|            usd|      null|      null|
|     4|account executive...|     sales|our passion for i...|the company: esri...|education: bachel...|our culture is an...|            0|               1|            0|      full-time|   mid-senior level| bachelor's degree|   computer software|               sales|         0|     us|  dc|            usd|      null|      null|
|     5| bill review manager|      null|spotsource soluti...|job title: itemiz...|qualifications:rn...|full benefits off...|            0|               1|            1|      full-time|   mid-senior level| bachelor's degree|hospital & health...|health care provider|         0|     us|  fl|            usd|      null|      null|
+------+--------------------+----------+--------------------+--------------------+--------------------+--------------------+-------------+----------------+-------------+---------------+-------------------+------------------+--------------------+--------------------+----------+-------+----+---------------+----------+----------+
only showing top 5 rows

In [98]:
URL_CURRENCIES = 'https://api.exchangerate-api.com/v4/latest/USD'

curr = requests.get(URL_CURRENCIES).json()
curr = curr['rates']

curr =  {k.lower(): v for k, v in curr.items()}

In [99]:
def get_usd(number, currency):
    if number is None or currency is None or currency not in list(curr.keys()):
        return None
    else:
        return int(number/curr[currency])

udf_usd = F.udf(get_usd, IntegerType())

df = df.withColumn('salary_min', udf_usd(F.col('salary_min'),F.col('salary_currency')))
df = df.withColumn('salary_max', udf_usd(F.col('salary_max'),F.col('salary_currency')))

### Text processing

#### Remove extra spaces of columns with text

In [7]:
import re

In [34]:
c = df.select('company_profile').collect()

pattern = re.compile('http[s]?://(?:[a-zA-Z-#]|[0-9]|[$-_@.&+]|[!*\(\),]|(?:%[0-9a-fA-F][0-9a-fA-F]))+')

text = pattern.sub('',str(c[1]))

print(text.replace('\\xa0', ' '))

Row(company_profile='90 seconds, the worlds cloud video production service.90 seconds is the worlds cloud video production service enabling brands and agencies to get high quality online video content shot and produced anywhere in the world. 90 seconds makes video production fast, affordable, and all managed seamlessly in the cloud from purchase to publish.  seconds removes the hassle, cost, risk and speed issues of working with regular video production companies by managing every aspect of video projects in a beautiful online experience. with a growing global network of over 2,000 rated video professionals in over 50 countries managed by dedicated production success teams in 5 countries, 90 seconds provides a 100% success guarantee.90 seconds has produced almost 4,000 videos in over 30 countries for over 500 global brands including some of the worlds largest including paypal, l’oreal, sony and barclays and has offices in auckland, london, sydney, tokyo and singapore.| |

In [50]:
import re

def re_links(text):
    return re.sub('http[s]?://(?:[a-zA-Z-#]|[0-9]|[$-_@.&+]|[!*\(\),]|(?:%[0-9a-fA-F][0-9a-fA-F]))+', " ", text)

def re_xa0(text):
    return text.replace('\\xa0', ' ')

def re_punctuations(text):
    return re.sub("[^-90-A-Za-z']", " " , text)

def re_space(text):
    return re.sub("\s+"," ", text)

def text_cleaning(text):
    text = re_links(text)
    text = re_xa0(text)
    text = re_punctuations(text)
    text = re_space(text)
    return text

udf_cleaning = F.udf(text_cleaning, StringType())
    
text_columns = ['title','department','company_profile','description','requirements','benefits','industry']

print(text_cleaning(str(c[4])))

#for col in text_columns:
 #   df = df.withColumn(col, udf_punc(F.col(col)))
  #  df = df.withColumn(col, udf_space(F.col(col)))

 ow company profile='spotsource solutions llc is a global human capital management consulting firm headquartered in miami florida founded in january 2012 spotsource has created a fusion of innovative service offerings to meet the increasing demand of today s economy we specialize in talent acquisition staffing and executive search services across various functions and in specific industries global talent transfusion gtt services utilize best in practice qualification standards to deliver talent in temporary temporary-to-hire and permanent basis health career transition hct is a subsidiary of global talent transfusion and offers placement services specifically in the growing healthcare arena spotsource executive search ses consultants are special breed talent evangelists that understand how to advise and streamline the human resources process in the direction your organization requires for long term sustainability and success succession planning leadership development programs compensation analysis recruitment process outsourcing all customized to best suit the needs of your business we understand the demand for cost-effective solutions for your organization are you seeking a potential career transition and interested in discussing the current hiring trends and open positions? vital career consulting vcc offers career transitional services catered specifically for the job applicant including resume construction social media optimization and interview coaching address:4100 n powerline rd ste z3pompano beach fl 33073office: phone c90b6ca89acd18d9e31ea3590b4ad76605721bc372025598fe9e1e60cf428551 '

### Apply One-hot-encoding to some columns

In [100]:
ohe_cols = ['country','city','salary_currency','required_experience','required_education','employment_type','industry','function']

for col in ohe_cols:
    print(f' {col}:{df.select(col).distinct().count()}')

 country:91
 city:325
 salary_currency:78
 required_experience:8
 required_education:14
 employment_type:6
 industry:132
 function:38

In [101]:
from pyspark.ml.feature import StringIndexer, OneHotEncoder

for col in ohe_cols:
    stringIndexer = StringIndexer(inputCol=col, outputCol= f"{col}_index").setHandleInvalid("keep")
    model = stringIndexer.fit(df)
    indexed = model.transform(df)
    encoder = OneHotEncoder(dropLast=False, inputCol=f"{col}_index", outputCol=f"{col}_vec")
    encoded = encoder.fit(indexed).transform(indexed)
    df = encoded
    df = df.drop(F.col(f"{col}_index"))
    df = df.drop(F.col(col))

In [102]:
df.show(3)

+------+--------------------+----------+--------------------+--------------------+--------------------+--------------------+-------------+----------------+-------------+----------+----------+----------+--------------+-----------------+-------------------+-----------------------+----------------------+-------------------+-----------------+---------------+
|job_id|               title|department|     company_profile|         description|        requirements|            benefits|telecommuting|has_company_logo|has_questions|fraudulent|salary_min|salary_max|   country_vec|         city_vec|salary_currency_vec|required_experience_vec|required_education_vec|employment_type_vec|     industry_vec|   function_vec|
+------+--------------------+----------+--------------------+--------------------+--------------------+--------------------+-------------+----------------+-------------+----------+----------+----------+--------------+-----------------+-------------------+-----------------------+----------------------+-------------------+-----------------+---------------+
|     1|    marketing intern| marketing|we're food52, and...|food52, a fast-gr...|experience with c...|                null|            0|               1|            0|         0|      null|      null|(91,[0],[1.0])|  (325,[1],[1.0])|     (78,[0],[1.0])|          (8,[5],[1.0])|       (14,[13],[1.0])|      (6,[4],[1.0])|(132,[131],[1.0])| (38,[4],[1.0])|
|     2|customer service ...|   success|90 seconds, the w...|organised - focus...|what we expect fr...|what you will get...|            0|               1|            0|         0|      null|      null|(91,[5],[1.0])|(325,[324],[1.0])|     (78,[4],[1.0])|          (8,[3],[1.0])|       (14,[13],[1.0])|      (6,[0],[1.0])|  (132,[3],[1.0])| (38,[3],[1.0])|
|     3|commissioning mac...|      null|valor services pr...|our client, locat...|implement pre-com...|                null|            0|               1|            0|         0|      null|      null|(91,[0],[1.0])| (325,[35],[1.0])|     (78,[0],[1.0])|          (8,[7],[1.0])|       (14,[13],[1.0])|      (6,[5],[1.0])|(132,[131],[1.0])|(38,[37],[1.0])|
+------+--------------------+----------+--------------------+--------------------+--------------------+--------------------+-------------+----------------+-------------+----------+----------+----------+--------------+-----------------+-------------------+-----------------------+----------------------+-------------------+-----------------+---------------+
only showing top 3 rows